extends  ../_skeleton

block title
	title Team

block page
	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 2,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Team", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": cfg.nav.about.title,
				"href": cfg.nav.about.href
			},
			2: {
				"type": "link",
				"title": "Team",
				"href": "team.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")

	// Page Content
	main.page-content.section-75.section-md-top-90.section-md-bottom-90

		mixin team-icons(teamIcons)
			ul.list-inline.list-inline-0.list-calypso
				each icon in teamIcons
					li.text-center
						a.icon(href= icon.href class= icon.style)

		// Meet our team
		section
			.shell
				h1 Meet our team

				.range.range-xs-center.offset-md-top-50
					.cell-sm-5.cell-md-4
						// Blockquote
						blockquote.quote
							img.img-circle.img-responsive.center-block(src="images/users/user-john-smith-271x271.jpg" width="271" height="271" alt="")

							.offset-top-15.offset-md-top-30
								p
									cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
										a.text-mine-shaft(href="single-member.html") John Smith
										span.reveal-block (founder)

							.offset-top-15.offset-md-top-30
								p.text-spacing-0
									q John Smith is a co-CEO and founder of City-Taxi. He holds a degree in Public
										| Administration from The University of Los
										| Angeles. An investment banker by trade, he is an experienced taxi dispatcher.

							.offset-top-20
								+team-icons([
									{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
								])

							.offset-top-10
								!{cfg.brand.svgDivider}

					.cell-sm-5.cell-md-4.offset-top-64.offset-sm-top-0
						// Blockquote
						blockquote.quote
							img.img-circle.img-responsive.center-block(src="images/users/user-tom-hudson-271x271.jpg" width="271" height="271" alt="")

							.offset-top-15.offset-md-top-30
								p
									cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
										a.text-mine-shaft(href="single-member.html") Tom Hudson
										span.reveal-block (driver)

							.offset-top-15.offset-md-top-30
								p.text-spacing-0
									q One of our most experienced drivers, Tom Hudson, is the real expert in offering high-quality taxi services. Prior to his experience of working for leading taxi services providers, he is very important to our team.

							.offset-top-20
								+team-icons([
									{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
								])

							.offset-top-10
								!{cfg.brand.svgDivider}

					.cell-sm-5.cell-md-4.offset-top-64.offset-md-top-0
						// Blockquote
						blockquote.quote
							img.img-circle.img-responsive.center-block(src="images/users/user-michael-johnson-271x271.jpg" width="271" height="271" alt="")

							.offset-top-15.offset-md-top-30
								p
									cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
										a.text-mine-shaft(href="single-member.html") Michael Johnson
										span.reveal-block (dispatcher)

							.offset-top-15.offset-md-top-30
								p.text-spacing-0
									q Michael has been working with us for several years, and before becoming a dispatcher, he has tried dozens of other jobs as a freelancer. But what he really does good is managing the morning shift at City-Taxi.

							.offset-top-20
								+team-icons([
									{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
								])

							.offset-top-10
								!{cfg.brand.svgDivider}

					.cell-sm-5.cell-md-4.offset-top-64
						// Blockquote
						blockquote.quote
							img.img-circle.img-responsive.center-block(src="images/users/user-sam-richardson-271x271.jpg" width="271" height="271" alt="")

							.offset-top-15.offset-md-top-30
								p
									cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
										a.text-mine-shaft(href="single-member.html") Sam Richardson
										span.reveal-block (driver)

							.offset-top-15.offset-md-top-30
								p.text-spacing-0
									q Sam came to us a few years ago as a driver trainee, and he almost immediately showed amazing results. No wonder that today he is one of our most promising drivers and he really loves his job.

							.offset-top-20
								+team-icons([
									{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
								])

							.offset-top-10
								!{cfg.brand.svgDivider}

					.cell-sm-5.cell-md-4.offset-top-64
						// Blockquote
						blockquote.quote
							img.img-circle.img-responsive.center-block(src="images/users/user-james-wilkinson-271x271.jpg" width="271" height="271" alt="")

							.offset-top-15.offset-md-top-30
								p
									cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
										a.text-mine-shaft(href="single-member.html") James Wilkinson
										span.reveal-block (junior dispatcher)

							.offset-top-15.offset-md-top-30
								p.text-spacing-0
									q A good friend of Michael Johnson, James works during day shifts, and his responsibilities include managing the routes of drivers and giving them new directions and contacts of our clients.

							.offset-top-20
								+team-icons([
									{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
								])

							.offset-top-10
								!{cfg.brand.svgDivider}

					.cell-sm-5.cell-md-4.offset-top-64
						// Blockquote
						blockquote.quote
							img.img-circle.img-responsive.center-block(src="images/users/user-dennis-black-271x271.jpg" width="271" height="271" alt="")

							.offset-top-15.offset-md-top-30
								p
									cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
										a.text-mine-shaft(href="single-member.html") Dennis Black
										span.reveal-block (manager)

							.offset-top-15.offset-md-top-30
								p.text-spacing-0
									q Dennis works as a manager of our Los Angeles branch and he knows how to do this work perfectly. This is why he was numerously awarded  with “The Best Employee of City-Taxi” and has stainless reputation.

							.offset-top-20
								+team-icons([
									{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
									{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
								])

							.offset-top-10
								!{cfg.brand.svgDivider}

			// Our team
			.shell.offset-top-90
				h1 Our team

				.range.range-xs-center.offset-top-53.text-sm-left
					.cell-sm-10.cell-lg-12
						// Owl Carousel
						.owl-carousel.owl-nav-primary(data-items='1' data-lg-items='2' data-xs-stage-padding='5' data-loop='true' data-margin='30' data-mouse-drag="false" data-nav='true' data-dots="true")
							.owl-item
								// Blockquote
								blockquote.quote
									// Media
									.media.media-sm-custom
										.media-left
											img.img-circle.center-block(src="images/users/user-julia-berzkalna-271x271.jpg" width="271" height="271" alt="")

										.media-body.offset-top-15.offset-sm-top-0.text-middle
											p
												cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
													a.text-mine-shaft(href="single-member.html") Julia Berzkalna
													span.reveal-block (driver)

											.offset-top-20
												p.text-spacing-0
													q Julia is one of our few female drivers, and like all our drivers, she is not new to this business. She is an experienced taxi driver, who has worked for other taxi companies but decided to join us in 2009.

											.offset-top-25
												+team-icons([
													{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
													{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
													{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
													{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
												])

							.owl-item
								// Blockquote
								blockquote.quote
									// Media
									.media.media-sm-custom
										.media-left
											img.img-circle.center-block(src="images/users/user-will-mcmillan-271x271.jpg" width="271" height="271" alt="")

										.media-body.offset-top-15.offset-sm-top-0.text-middle
											p
												cite.font-accent.text-bold.text-spacing-inverse-25.text-mine-shaft
													a.text-mine-shaft(href="single-member.html") Will McMillan
													span.reveal-block (dispatcher)

											.offset-top-20
												p.text-spacing-0
													q Working as a dispatcher of the night shift, Will can boast of the same high level of service as all others dispatchers. However, his qualification includes more than just dispatching and management.

											.offset-top-25
												+team-icons([
													{"href": "#", "style": "icon-xs fa fa-facebook text-turquoise"},
													{"href": "#", "style": "icon-xs fa fa-google-plus text-turquoise"},
													{"href": "#", "style": "icon-xs fa fa-linkedin text-turquoise"},
													{"href": "#", "style": "icon-xs fa fa-twitter text-turquoise"}
												])

	// Page Footer
	include ../sections/_footer-default