extends  ../_skeleton

include ../elements/_ui-rd-navbar-default-transparent

//-Title
block title
  title= cfg.nav.features.submenu.revolutionSlider.submenu.crossfade.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-transparent',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logoInverse,
      cfg.nav.features,
      cfg.nav
    )

    .rev_slider_wrapper--holder
      .rev_slider_wrapper.fullscreen-container.context-dark
        // the ID here will be used in the JavaScript below to initialize the slider
        #rev_slider_1.rev_slider.fullscreenbanner(style='display:none')
          // BEGIN MAIN SLIDE LIST
          ul
            li(data-transition="crossfade")
              img.rev-slidebg(alt='' data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15" class="rev-slidebg" src='images/intros/intro-05-1920x955.jpg')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":10,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']", style='z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);')
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay":"+0","speed":400,"frame":"0","from":"opacity:0;","to":"opacity:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]')
                  .shell
                    .range.range-xs-center.range-xs-middle
                      .cell-lg-10
                        .text-uppercase.tp-caption(data-fontsize="['62', '48', '36', '28']"
                        data-type='text'
                        data-lineheight="['68', '44', '42', '34']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[200%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:550;e:Power4.easeInOut;"
                        data-transform_out="opacity:0;s:300;e:Power1.easeOut;s:300;e:Power1.easeOut;"
                        data-mask_in="x:0px;y:0px;"
                        data-start="0"
                        data-splitin="chars"
                        data-splitout="none"
                        data-elementdelay="0.06")
                          h1
                            span.big.text-uppercase Welcome to Intense

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":550,"speed":2000,"frame":"0","from":"y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h4.text-light
                            | The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.
                            | Create exactly what you need with our powerful bootstrap toolkit.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']",
                        data-frames='[{"delay":950,"speed":1600,"frame":"0","from":"y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a(href=cfg.buyLink).btn.btn-primary.btn-lg.btn-anis-effect
                              span.btn-text Buy intense now

                            a(href="#" data-waypoint-to="#section-childs").btn.btn-default.btn-lg.btn-anis-effect
                              span.btn-text Start a journey
            li(data-transition="crossfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power2.easeInOut" data-easeout="default" data-masterspeed="2000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="")
              img.rev-slidebg(alt='' data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15" class="rev-slidebg"  src='images/intros/intro-04-1920x955.jpg')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":10,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']", style='z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);')
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay":"+0","speed":400,"frame":"0","from":"opacity:0;","to":"opacity:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]')
                  .shell
                    .range.range-xs-center.range-xs-middle
                      .cell-lg-10
                        .text-uppercase.tp-caption(data-fontsize="['62', '48', '36', '28']"
                        data-type='text'
                        data-lineheight="['68', '44', '42', '34']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[200%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:550;e:Power4.easeInOut;"
                        data-transform_out="opacity:0;s:300;e:Power1.easeOut;s:300;e:Power1.easeOut;"
                        data-mask_in="x:0px;y:0px;"
                        data-start="0"
                        data-splitin="chars"
                        data-splitout="none"
                        data-elementdelay="0.06")
                          h1
                            span.big.text-uppercase Built as a framework

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":550,"speed":2000,"frame":"0","from":"y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h4.text-light
                            |   Intense was designed as extended version of bootstrap, built as a complex
                            |   and flexible solution with a dozen of completely new utilities, components and plugins.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":950,"speed":1600,"frame":"0","from":"y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a.btn.btn-icon.btn-icon-left.btn-default.btn-lg.btn-anis-effect(href='ui-kit.html')
                              span.btn-text See it in action

            li(data-transition="crossfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power2.easeInOut" data-easeout="default" data-masterspeed="2000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="")
              img.rev-slidebg(alt='' data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15" class="rev-slidebg"  src='images/intros/intro-06-1920x955.jpg')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":10,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']")
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay":"+0","speed":400,"frame":"0","from":"opacity:0;","to":"opacity:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]')
                  .shell
                    .range.range-xs-center.range-xs-middle
                      .cell-lg-12
                        .text-uppercase.tp-caption(data-fontsize="['62', '48', '36', '28']"
                        data-type='text'
                        data-lineheight="['68', '44', '42', '34']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[200%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:550;e:Power4.easeInOut;"
                        data-transform_out="opacity:0;s:300;e:Power1.easeOut;s:300;e:Power1.easeOut;"
                        data-mask_in="x:0px;y:0px;"
                        data-start="0"
                        data-splitin="chars"
                        data-splitout="none"
                        data-elementdelay="0.06")
                          h1
                            span.big.text-uppercase UNLIMITED OPPORTUNITIES

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":550,"speed":2000,"frame":"0","from":"y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h4.text-light
                            | Intense is the easiest way for you to build different sites without using many themes.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":950,"speed":1600,"frame":"0","from":"y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a(href="index.html#section-childs" ).btn.btn-default.btn-lg.btn-anis-effect
                              span.btn-text Discover child themes



  // Page Contents
  main.page-content
    include ../sections/_section-revolution-slider
    include ../sections/_section-buy-now
    include ../sections/_section-welcome

  // Page Footer
  include ../sections/_section-footer-default