extends  ../_skeleton

include ../elements/_ui-rd-navbar-default-transparent

//-Title
block title
  title= cfg.nav.features.submenu.revolutionSlider.submenu.parallaxhorizontal.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-transparent',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logoInverse,
      cfg.nav.features,
      cfg.nav
    )

    .rev_slider_wrapper--holder.rev-slider-layout-1
      .rev_slider_wrapper.fullscreen-container.context-dark
        #rev_slider_1.rev_slider.fullscreenbanner
          ul
            li(data-transition="parallaxhorizontal")
              img.rev-slidebg(data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" src='images/intros/intro-05-1920x955.jpg', alt='Sky')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":500,"speed":400,"frame":"0","from":"opacity:1;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']")
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay":"500","speed":400,"frame":"0","from":"opacity:1;","to":"opacity:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]')
                  .shell.text-lg-left
                    .range.range-xs-middle.range-xs-center.range-lg-left
                      .cell-lg-7.cell-md-9
                        h1.text-uppercase.tp-caption(
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":0,"split":"chars","splitdelay":0.07,"speed":400,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                            span.text-uppercase Welcome to Intense

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h6.text-light
                            | The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.
                            | Create exactly what you need with our powerful bootstrap toolkit.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']",
                        data-frames='[{"delay":1300,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a(href=cfg.buyLink).btn.btn-primary.btn-md.btn-anis-effect
                              span.btn-text Buy intense now

                            a(href="ui-kit.html").btn.btn-default.btn-md.btn-anis-effect
                              span.btn-text Start a journey
            li(data-transition="parallaxhorizontal")
              img.rev-slidebg(data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" src='images/intros/intro-new-01.jpg', alt='Sky')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":500,"speed":400,"frame":"0","from":"opacity:1;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']")
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay":"500","speed":400,"frame":"0","from":"opacity:1;","to":"opacity:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]')
                  .shell.text-lg-left
                    .range.range-xs-middle.range-xs-center.range-lg-left
                      .cell-lg-7.cell-md-9
                        h1.text-uppercase.tp-caption(
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":0,"split":"chars","splitdelay":0.07,"speed":400,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                            span.text-uppercase Built as a framework

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h6.text-light
                            |   Intense was designed as extended version of bootstrap, built as a complex
                            |   and flexible solution with a dozen of completely new utilities, components and plugins.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":1300,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a.btn.btn-default.btn-md.btn-anis-effect(href='ui-kit.html')
                              span.btn-text See it in action

            li(data-transition="parallaxhorizontal")
              img.rev-slidebg(data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" src='images/intros/intro-new-02.jpg', alt='Sky')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":500,"speed":400,"frame":"0","from":"opacity:1;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']")
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay":"500","speed":400,"frame":"0","from":"opacity:1;","to":"opacity:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]')
                  .shell.text-lg-left
                    .range.range-xs-middle.range-xs-center.range-lg-left
                      .cell-lg-7.cell-md-9
                        h1.text-uppercase.tp-caption(
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":0,"split":"chars","splitdelay":0.07,"speed":400,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                            span.text-uppercase UNLIMITED OPPORTUNITIES

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h6.text-light
                            | Intense is the easiest way for you to build different sites without using many themes.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":1300,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a(href="ui-kit.html").btn.btn-default.btn-md.btn-anis-effect
                              span.btn-text Discover child themes



  // Page Contents
  main.page-content
    include ../sections/_section-revolution-slider
    include ../sections/_section-buy-now
    include ../sections/_section-welcome

  // Page Footer
  include ../sections/_section-footer-default