extends  ../_skeleton

include ../elements/_ui-rd-navbar-default-transparent

//-Title
block title
  title= cfg.nav.features.submenu.revolutionSlider.submenu.slidehorizontal.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-transparent',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logoInverse,
      cfg.nav.features,
      cfg.nav
    )

    .rev_slider_wrapper--holder.bg-gray-base
      .rev_slider_wrapper.fullscreen-container.context-dark
        // qwe
        #rev_slider_1.rev_slider.fullscreenbanner
          ul
            li(data-transition="slotzoom-vertical")
              img.rev-slidebg(data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" src='images/intros/intro-04-1920x955.jpg', alt='Sky')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off',
              data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 1"}]')
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 1"}]')
                  .shell
                    .range.range-xs-center.range-xs-middle
                      .cell-lg-10
                        .text-uppercase.tp-caption(data-fontsize="['62', '48', '36', '28']"
                        data-type='text'
                        data-lineheight="['68', '44', '42', '34']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h1
                            span.big.text-uppercase Built as a framework

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":100,"speed":1300,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h4.text-light
                            |   Intense was designed as extended version of bootstrap, built as a complex
                            |   and flexible solution with a dozen of completely new utilities, components and plugins.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":200,"speed":1400,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a.btn.btn-icon.btn-icon-left.btn-default.btn-lg.btn-anis-effect(href='ui-kit.html')
                              span.btn-text See it in action
            li(data-transition="slotzoom-vertical")
              img.rev-slidebg(data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" src='images/intros/intro-06-1920x955.jpg', alt='Sky')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide', data-responsive_offset='on', data-responsive='off',
              data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 1"}]')
                .tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 1"}]')
                  .shell
                    .range.range-xs-center.range-xs-middle
                      .cell-lg-12
                        .text-uppercase.tp-caption(data-fontsize="['62', '48', '36', '28']"
                        data-type='text'
                        data-lineheight="['68', '44', '42', '34']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h1
                            span.big.text-uppercase UNLIMITED OPPORTUNITIES

                        .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                        data-type='text'
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":100,"speed":1300,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          h4.text-light
                            | Intense is the easiest way for you to build different sites without using many themes.

                        .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                        data-type='text'
                        data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                        data-y="['center','center','center','center']",
                        data-x="['center','center','center','center']"
                        data-frames='[{"delay":200,"speed":1400,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                          .group.group-xl.offset-top-20.offset-xs-top-50
                            a(href="index.html#section-childs" ).btn.btn-default.btn-lg.btn-anis-effect
                              span.btn-text Discover child themes
            li(data-transition="slotzoom-vertical")
              img.rev-slidebg(data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" src='images/intros/intro-05-1920x955.jpg', alt='Sky')
              .tp-caption(data-y="['center','center','center','center']",
              data-x="['center','center','center','center']",
              data-height='100%',
              data-type='row',
              data-columnbreak='2',
              data-basealign='slide',
              data-responsive_offset='on',
              data-responsive='off',
              data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 1"}]')
                .rev_group.tp-caption(
                data-y="['center','center','center','center']",
                data-x="['center','center','center','center']"
                data-type="column"
                data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 1"}]')
                  .shell
                    .reveal-inline-block
                      .text-uppercase.tp-caption(data-fontsize="['62', '48', '36', '28']"
                      data-type='text'
                      data-lineheight="['68', '44', '42', '34']"
                      data-y="['center','center','center','center']",
                      data-x="['center','center','center','center']"
                      data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                        h1
                          span.big.text-uppercase Welcome to Intense


                    .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                    data-type='text'
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":100,"speed":1300,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                      h4.text-light
                        | The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.
                        | Create exactly what you need with our powerful bootstrap toolkit.

                    .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                    data-type='text'
                    data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']",
                    data-frames='[{"delay":200,"speed":1400,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]')
                      .group.group-xl.offset-top-20.offset-xs-top-50
                        a(href=cfg.buyLink).btn.btn-primary.btn-lg.btn-anis-effect
                          span.btn-text Buy intense now

                        a(href="#" data-waypoint-to="#section-childs").btn.btn-default.btn-lg.btn-anis-effect
                          span.btn-text Start a journey



  // Page Contents
  main.page-content
    include ../sections/_section-revolution-slider
    include ../sections/_section-buy-now
    include ../sections/_section-welcome

  // Page Footer
  include ../sections/_section-footer-default