mixin tilter-1(tilter)
  -var targetBlank = (tilter.targetBlank === true)? "_blank" : "_self"
  a.tilter.tilter--1(target=targetBlank href='#')
    figure.tilter__figure
      img(width=tilter.thumb.width, height=tilter.thumb.height, src=tilter.thumb.src, alt=tilter.thumb.alt)
      .tilter__deco.tilter__deco--shine
        div
      figcaption.tilter__caption
        h3.tilter__title !{tilter.title}
        p.tilter__description !{tilter.description}
      .tilter__deco.tilter__deco--lines