.rev_slider_wrapper--holder
  .rev_slider_wrapper.fullscreen-container.context-dark
    // the ID here will be used in the JavaScript below to initialize the slider
    #rev_slider_1.rev_slider.fullscreenbanner(style='display:none')
      // BEGIN MAIN SLIDE LIST
      ul
        li(data-transition="zoomout")
          img.rev-slidebg(data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15" class="rev-slidebg"  src='images/intros/intro-04-1920x955.jpg', alt='Sky')
          .tp-caption(data-y="['center','center','center','center']",
          data-x="['center','center','center','center']",
          data-height='100%',
          data-type='row',
          data-columnbreak='2',
          data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":10,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeIn"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']", style='z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);')
            .tp-caption(
            data-y="['center','center','center','center']",
            data-x="['center','center','center','center']"
            data-type="column"
            data-frames='[{"delay":"+0","speed":400,"frame":"0","from":"opacity:0;","to":"opacity:1;","ease":"Power2.easeIn"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]')
              .shell
                .range.range-xs-center.range-xs-middle
                  .cell-lg-10
                    .tp-caption(data-fontsize="['62', '48', '36', '28']"
                    data-type='text'
                    data-lineheight="['68', '44', '42', '34']"
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"+400","speed":1700,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      h1
                        span.big.text-uppercase Welcome to Intense

                    .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                    data-type='text'
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"600","speed":2000,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      h4.text-light
                        | The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.
                        | Create exactly what you need with our powerful bootstrap toolkit.

                    .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                    data-type='text'
                    data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"700","speed":2000,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      .group.group-xl.offset-top-20.offset-xs-top-50
                        a(href=cfg.buyLink).btn.btn-primary.btn-lg.btn-anis-effect
                          span.btn-text Buy intense now

                        a(href="#" data-waypoint-to="#section-childs").btn.btn-default.btn-lg.btn-anis-effect
                          span.btn-text Start a journey
        li(data-transition="zoomout").tp-revslider-slidesli-video
          // required for background video, and will serve as the video's "poster/cover" image
          img.rev-slidebg(src='video/intro-video/intro-video-lg.jpg', alt=''
          data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15" class="rev-slidebg" )
          // BACKGROUND VIDEO LAYER
          .rs-background-video-layer(
          class="rs-background-video-layer"
          data-videomp4="video/intro-video/intro-video-lg.mp4"
          data-videopreload="auto"
          data-volume="100"
          data-forcerewind="on"
          data-nextslideatend="false"
          data-autoplay="true"
          data-videoloop="loopandnoslidestop")
          .tp-caption(data-y="['center','center','center','center']",
          data-x="['center','center','center','center']",
          data-height='100%',
          data-type='row',
          data-columnbreak='2',
          data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":10,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeIn"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']")
            .tp-caption(
            data-y="['center','center','center','center']",
            data-x="['center','center','center','center']"
            data-type="column"
            data-frames='[{"delay":"+0","speed":400,"frame":"0","from":"opacity:0;","to":"opacity:1;","ease":"Power2.easeIn"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]')
              .shell
                .range.range-xs-center.range-xs-middle
                  .cell-lg-10
                    .tp-caption(data-fontsize="['62', '48', '36', '28']"
                    data-type='text'
                    data-lineheight="['68', '44', '42', '34']"
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"+400","speed":1700,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      h1
                        span.big.text-uppercase Built as a framework

                    .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                    data-type='text'
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"600","speed":2000,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      h4.text-light
                        |   Intense was designed as extended version of bootstrap, built as a complex
                        |   and flexible solution with a dozen of completely new utilities, components and plugins.

                    .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                    data-type='text'
                    data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"700","speed":2000,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      .group.group-xl.offset-top-20.offset-xs-top-50
                        a.btn.btn-icon.btn-icon-left.btn-default.btn-lg.btn-anis-effect(href='ui-kit.html')
                          span.btn-text See it in action

        li(data-transition="zoomout")
          img.rev-slidebg(data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15" class="rev-slidebg"  src='images/intros/intro-06-1920x955.jpg', alt='Sky')
          .tp-caption(data-y="['center','center','center','center']",
          data-x="['center','center','center','center']",
          data-height='100%',
          data-type='row',
          data-columnbreak='2',
          data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"delay":10,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeIn"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]', data-margintop='[0,0,0,0]', data-marginright='[0,0,0,0]', data-marginbottom='[0,0,0,0]', data-marginleft='[0,0,0,0]', data-textalign="['inherit','inherit','inherit','inherit']")
            .tp-caption(
            data-y="['center','center','center','center']",
            data-x="['center','center','center','center']"
            data-type="column"
            data-frames='[{"delay":"+0","speed":400,"frame":"0","from":"opacity:0;","to":"opacity:1;","ease":"Power2.easeIn"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]')
              .shell
                .range.range-xs-center.range-xs-middle
                  .cell-lg-12
                    .tp-caption(data-fontsize="['62', '48', '36', '28']"
                    data-type='text'
                    data-lineheight="['68', '44', '42', '34']"
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"+400","speed":1700,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      h1
                        span.big.text-uppercase UNLIMITED OPPORTUNITIES

                    .hidden.reveal-sm-block.offset-top-30.tp-caption(data-visibility="['on', 'on', 'off', 'off']"
                    data-type='text'
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"600","speed":2000,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      h4.text-light
                        | Intense is the easiest way for you to build different sites without using many themes.

                    .tp-caption(data-whitespace="['normal', 'normal', 'nowrap', 'normal']"
                    data-type='text'
                    data-fontsize="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-lineheight="['inherit', 'inherit', 'inherit', 'inherit']"
                    data-y="['center','center','center','center']",
                    data-x="['center','center','center','center']"
                    data-frames='[{"delay":"700","speed":2000,"frame":"0","from":"y:250px;opacity:0;fb:50px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"opacity:0;fb:0;","ease":"Power2.easeIn"}]')
                      .group.group-xl.offset-top-20.offset-xs-top-50
                        a(href="index.html#section-childs" ).btn.btn-default.btn-lg.btn-anis-effect
                          span.btn-text Discover child themes
