extends  ../_skeleton

block title
	title Lost and Found

block page
	include ../elements/_ui-rd-parallax

	// Page Header
	header.page-header.slider-menu-position
		+rd-navbar-default({
			"style": "",
			"logo": cfg.brand.logo,
			"logoFixed": cfg.brand.logoSmall,
			"activeLink": 8,
			"attr": {
				"data-layout": "rd-navbar-fixed",
				"data-sm-layout": "rd-navbar-fixed",
				"data-md-layout": "rd-navbar-fullwidth",
				"data-lg-layout": "rd-navbar-static"
			}
		})

		+breadcrumb("Lost and Found", {
			0: {
				"type": "link",
				"title": cfg.nav.home.title,
				"href": cfg.nav.home.href
			},
			1: {
				"type": "link",
				"title": cfg.nav.pages.title,
				"href": cfg.nav.pages.href
			},
			2: {
				"type": "link",
				"title": "Lost and Found",
				"href": "report.html"
			}
		}, "images/backgrounds/background-02-1920x900.jpg")


	// Page Content
	main.page-content.section-top-75.section-md-top-90

		// FAQ
		section.section-bottom-40
			.shell
				h1 File a Report

				h5.offset-top-35.offset-md-top-50.text-light Lost Property Posting

				p.offset-top-23 Taxi drivers and owners must return property they find in a taxicab. If they cannot return the property directly to you, they need to bring it to a designated police precinct. Remember that after a cab drops you off, usually the next passenger is likely to find any left property at the back seat of the taxi. Filing an anonymous public ad posting on our website will increase your chances in targeting both public audience and yellow cab drivers who may have found your property.

				form.offset-top-44.well.rd-mailform.text-md-left(data-form-output="form-output-global", data-form-type='order', method='post', action='bat/rd-mailform.php')
					.well-row.well-row-bg
						p.text-uppercase.text-bold.text-spacing-25.font-accent.text-gray-dark Property Lost
							span(style='color: #ff0000;')=' *'
					.well-row
						.range
							.cell-md-6
								.form-group
									label.form-label(for="lost") 30 characters maximum
									input#lost.form-control(type="text" name="lost" data-constraints="@Length(min=4, max=30) @Required")
					.well-row.well-row-bg
						p.text-uppercase.text-bold.text-spacing-25.font-accent.text-gray-dark Contact Details
					.well-row
						.range
							.cell-sm-6
								.form-group
									label.form-label(for="name") First Name
										span(style='color: #ff0000;')=' *'
									input#name.form-control(type="text" name="name" data-constraints="@Required")
								.form-group
									label.form-label(for="surname") Last Name
									input#surname.form-control(type="text" name="surname")
							.cell-sm-6.offset-top-12.offset-sm-top-0
								.form-group
									label.form-label(for="phone") Phone Number
										span(style='color: #ff0000;')=' *'
									input#phone.form-control(type="text" name="phone" data-constraints="@Required @Integer")
								.form-group
									label.form-label(for="email") Email
										span(style='color: #ff0000;')=' *'
									input#email.form-control(type="text" name="email" data-constraints="@Required @Email")
					.well-row.well-row-bg
						p.text-uppercase.text-bold.text-spacing-25.font-accent.text-gray-dark Incident Details
					.well-row
						.form-group
							label.form-label(for="location") Pickup / Drop off Location
							input#location.form-control(type="text" name="location")
						.range.offset-top-30
							.cell-sm-7.cell-md-5.well-row-flex
								label.custom-label.text-gray-dark date
								.form-group
									label.form-label(for="month") MM
									input#month.form-control(type="text" name="month")
								.form-group
									label.form-label(for="date") DD
									input#date.form-control(type="text" name="date")
								.form-group
									label.form-label(for="year") YYYY
									input#year.form-control(type="text" name="year")
							.offset-top-15.offset-sm-top-0.cell-sm-5.cell-md-6.well-row-flex
								label.custom-label.text-gray-dark time
								.form-group(style='max-width: 100px;')
									input.form-control(placeholder='--:--' data-time-picker='time' type="text" style='text-align: center; padding: 10px 12px;' name="usr_time")
					.well-row.well-row-bg
						p.text-uppercase.text-bold.text-spacing-25.font-accent.text-gray-dark Additional information
					.well-row
						.form-group
							label.form-label(for="message") Enter information here
							textarea#message.form-control(style='height: 130px;' name="message")
						.text-center.offset-top-33
							button.btn.btn-sm.btn-primary Submit
				.offset-top-20.text-center
					!{cfg.brand.svgDivider}

		section
			+rd-parallax({
				"on": "false",
				"MdOn": "true",
				"firstLayerType": "media",
				"firstLayerSpeed": "0.25",
				"src": "images/backgrounds/background-06-1920x900.jpg",
				"secondLayerType": "html",
				"secondLayerSpeed": "0",
				"fade": "false"
			})
				.shell.section-80.section-md-top-90.section-md-bottom-103
					h1.text-light.context-dark Latest Lost Property Listings
					table.offset-top-44.table.table-custom.table-fixed.text-bold.table-fixed
						tbody
							tr.font-accent.bg-mine-shaft
								th.text-center.text-white Property Lost
								th.text-center.text-white Name
								th.text-center.text-white Date
								th.text-center.text-white Time
								th.text-center.text-white Entry Id
								th.text-center.text-white	Date Created
							tr.bg-white
								td.font-accent.text-spacing-inverse-25.text-primary 1 black wallet
								td Jordan
								td Sep 05, 2016
								td 23:30:00
								td 110069
								td Yesterday
							tr.bg-white
								td.font-accent.text-spacing-inverse-25.text-primary iPhone 6s black
								td Samantha
								td Sep 05, 2016
								td 23:30:00
								td 110066
								td Aug 06, 2016
							tr.bg-white
								td.font-accent.text-spacing-inverse-25.text-primary Cell Phone
								td Kate
								td Aug 20, 2016
								td 23:30:00
								td 110064
								td Aug 19, 2016
							tr.bg-white
								td.font-accent.text-spacing-inverse-25.text-primary Samsung Edge 7
								td John
								td Jul 27, 2016
								td 3:30:00
								td 110060
								td Aug 17, 2016
							tr.bg-white
								td.font-accent.text-spacing-inverse-25.text-primary Backpack
								td Chelsea
								td Jul 28, 2016
								td 17:10:00
								td 120000
								td Aug 09, 2016

	// Page Footer
	include ../sections/_footer-default